asap/PicasaAdmin/Service References/ServiceReference1/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49250/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49250/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49250/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IUserService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IUserService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Check_password_InputMessage">
    <wsdl:part name="parameters" element="tns:Check_password" />
  </wsdl:message>
  <wsdl:message name="IUserService_Check_password_OutputMessage">
    <wsdl:part name="parameters" element="tns:Check_passwordResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Get_User_ID_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_User_ID" />
  </wsdl:message>
  <wsdl:message name="IUserService_Get_User_ID_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_User_IDResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Get_User_Level_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_User_Level" />
  </wsdl:message>
  <wsdl:message name="IUserService_Get_User_Level_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_User_LevelResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Get_User_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_User" />
  </wsdl:message>
  <wsdl:message name="IUserService_Get_User_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_UserResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Add" message="tns:IUserService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddResponse" message="tns:IUserService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Delete" message="tns:IUserService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteResponse" message="tns:IUserService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Check_password">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Check_password" message="tns:IUserService_Check_password_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/Check_passwordResponse" message="tns:IUserService_Check_password_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_User_ID">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Get_User_ID" message="tns:IUserService_Get_User_ID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/Get_User_IDResponse" message="tns:IUserService_Get_User_ID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_User_Level">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Get_User_Level" message="tns:IUserService_Get_User_Level_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/Get_User_LevelResponse" message="tns:IUserService_Get_User_Level_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_User">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Get_User" message="tns:IUserService_Get_User_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/Get_UserResponse" message="tns:IUserService_Get_User_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IUserService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IUserService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check_password">
      <soap:operation soapAction="http://tempuri.org/IUserService/Check_password" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_User_ID">
      <soap:operation soapAction="http://tempuri.org/IUserService/Get_User_ID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_User_Level">
      <soap:operation soapAction="http://tempuri.org/IUserService/Get_User_Level" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_User">
      <soap:operation soapAction="http://tempuri.org/IUserService/Get_User" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:49250/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>