realease/PicasaASP/Service References/ServiceReference1/UserService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="first_name" nillable="true" type="xs:string" />
      <xs:element name="last_name" nillable="true" type="xs:string" />
      <xs:element name="level" type="xs:boolean" />
      <xs:element name="login" nillable="true" type="xs:string" />
      <xs:element name="mail" nillable="true" type="xs:string" />
      <xs:element name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>