asap/PicasaWPF/Service References/Image_Service/ImageService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PicasaServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PicasaServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49250/ImageService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:complexType name="ImageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element name="Album" type="xs:int" />
      <xs:element name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageInfo" nillable="true" type="tns:ImageInfo" />
  <xs:complexType name="ArrayOfImageDownloadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImageDownloadResponse" nillable="true" type="tns:ImageDownloadResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImageDownloadResponse" nillable="true" type="tns:ArrayOfImageDownloadResponse" />
  <xs:complexType name="ImageDownloadResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="ImageData" nillable="true" type="q1:Stream" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageDownloadResponse" nillable="true" type="tns:ImageDownloadResponse" />
</xs:schema>